@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }

    a {
        position: n;
        text-decoration: none;
        color: inherit;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    margin: 0 auto;
}

.header {
    background-color: #000000;
    display: flex;
    padding: 14px 220px;
    align-items: center;

    &__main-title {
        visibility: hidden;
        font-size: 0px;
    }

    &__logo {
        margin: 0 63px 0 0;
        width: 82px;
        height: 51px;

        &__name {
            position: relative;
            padding: 0 4.7px 6.5px 4.7px;
            font-weight: 400;
            font-size: 19.0145px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
            border: 1.18841px solid #FFFFFF;

            &::after {
                position: absolute;
                top: 20px;
                left: 10px;
                content: "";
                background-image: url('../assets/icons/bamboo.svg');
                width: 12px;
                height: 20px;
                display: block;
            }

        }
    }

    &__navigation {

        &__items {
            display: flex;


            &__item {

                color: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                margin: 0 58px 0 0;

                &:hover {
                    color: #F9804B;
                }

                &:last-child {
                    margin: 0 0 0 438px;

                }

                &:nth-last-child(2) {
                    margin: 0;
                }

                &:hover {
                    color: #F9804B;
                }

                &__link {}
            }
        }
    }
}

//media header

.donate {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 40px 220px 180px 220px;

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #FFFFFF;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        margin: 10px 0 40px 0;
    }

    &__information {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #FE9013;
        margin: 0 0 60px 0;
    }

    &__area {
        padding: 40px 92px 62px 92px;
        background: rgba(255, 255, 255, 0.52);
        border-radius: 20px;

        &__title {
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            text-align: center;
            color: #FE9013;
            margin: 0 0 20px 0;
        }

        &__subtitle {
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #333B41;
        }

        &__diet-panda {
            display: flex;
            margin: 0px 0px 0px 215px;

            &__quantity {
                font-weight: 500;
                font-size: 72px;
                line-height: 80%;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
                margin: 165px 0 0 0;

                &__txt {
                    margin: 11px 0 0 0;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    text-align: center;
                    color: #333B41;
                }

                &__x {

                    &__item {
                        margin: 190px 64px 0 0;
                    }
                }
            }

            &__img {
                display: block;

                &__item {
                    margin: 60px 0px 0px 0px;
                }
            }
        }

        &__choose {
            width: 976px;
            height: 27px;
            background: #404950;
            border-radius: 2px;
            text-align: center;
            vertical-align: middle;

            &__dots {
                display: flex;
                justify-content: space-between;

                &__item {
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: #FFEE2E;
                    border-radius: 50px;
                    margin: -9px 30px 0px 30px;

                    &:hover {
                        background-color: rgb(255, 115, 0);
                    }

                    &__price {}
                }
            }

            &__line {
                display: inline-block;
                width: 915px;
                height: 2px;
                background: #72828E;
                margin: 0 auto;
            }

            &__price {
                display: flex;
                justify-content: space-between;
                margin: 12px 0 0 0;

                &__item {
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 140%;
                    text-transform: uppercase;
                    color: #333B41;
                }
            }
        }

        &__amount {
            margin: 48px 0 29px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #000000;
        }

        &__subscription {
            margin: 98px 0 0 0;
            text-align: center;

            &__window {
                width: 268px;
                height: 52px;
                background-color: transparent;
                border: 1px solid #929699;
                border-radius: 2px;
                padding: 0px 9px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #929699;


                &:focus {
                    outline: none;
                }
            }

            &__radio {
                margin: 27px 0px 0 -60px;

                &__item {
                    width: 16px;
                    height: 16px;
                    margin: 0 10px 0 50px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #333B41;
                }
            }
        }

        &__btn {
            margin: 48px 0 0 0;
            width: 298px;
            height: 54px;
            border-radius: 25px;
            background-color: #F9804B;
            border: none;
            font-weight: 500;
            text-transform: uppercase;
            color: #FFFFFF;

            &:hover {
                background-color: #E47209;
                cursor: pointer;
            }

            &:active {
                background: #4B9200;
            }
        }

        &__last {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #333B41;
            margin: 30px 0 0 0;
        }
    }
}

input[type='number'] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.footer {
    padding: 40px 0px 50px 220px;
    background-color: #111115;
    color: #FFFFFF;
    display: flex;

    &__left {
        padding: 0 100px 0 0;

        &__logo {
            margin: 0 63px 0 0;
            width: 82px;
            height: 51px;

            &__name {
                position: relative;
                padding: 0 4.7px 6.5px 4.7px;
                font-weight: 400;
                font-size: 19.0145px;
                line-height: 120%;
                text-align: center;
                color: #FFFFFF;
                border: 1.18841px solid #FFFFFF;

                &::after {
                    position: absolute;
                    top: 20px;
                    left: 10px;
                    content: "";
                    background-image: url('../assets/icons/bamboo.svg');
                    width: 12px;
                    height: 20px;
                    display: block;
                }

            }
        }


        &__button {
            margin: 68px 0 45px 0;
            width: 298px;
            height: 54px;
            background-color: #F9804B;
            border: none;
            font-weight: 500;
            text-transform: uppercase;
            color: #FFFFFF;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #E47209;
                cursor: pointer;
            }

            &:active {
                background: #4B9200;
            }
        }

        &__network {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;

            &__facebook {
                display: flex;
                align-items: center;
            }

            &__twitter {
                display: flex;
                align-items: center;
                margin: 4px 0 4px 0;

            }

            &__instagram {
                display: flex;
                align-items: center;
                margin: 0 0 4px 0;
            }

            &__youtube {
                display: flex;
                align-items: center;

            }
        }
    }

    &__centre {
        margin: 337px 0 0 0;

        &__navigation {
            &__items {
                display: flex;

                &__item {
                    margin: 0 58px 0 0;

                    &:last-child {
                        margin: 0;
                    }

                    &:hover {
                        color: #F9804B;
                    }

                    &__link {}
                }
            }
        }
    }

    &__right {
        margin: 0px 0px 0px 32px;

        &__form {
            &__titile {
                margin: 0 0 14px 0;
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;
                color: #FFFFFF;
            }

            &__input {
                background-color: #111115;
                border-radius: 2px;
                border: 0.7px solid #F9804B;
                padding: 10px;
                color: #F1F3F2;
                cursor: pointer;

                &:focus {
                    outline: none;
                    border: 0.7px solid #4B9200;
                }
            }

            &__btn {
                margin: 0 0 0 8px;
                background: #F1F3F2;
                border: 1px solid #333B41;
                border-radius: 5px;
                padding: 10px 40px;
                cursor: pointer;


                &:active {
                    color: #4B9200;
                    border: 1px solid #4B9200;
                }
            }
        }

        &__designed {
            margin: 216px 0px 0px 139px;
            font-weight: 100;
            font-size: 16px;
            line-height: 130%;
            color: #FFFFFF;

            &__name {
                cursor: pointer;

                &:active {
                    color: #4B9200;
                }
            }

            &__rsschool {
                cursor: pointer;

                &:active {
                    color: #4B9200;
                }
            }
        }
    }
}