@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    margin: 0 auto;
}

.header {
    background-color: #000000;
    display: flex;
    padding: 14px 220px;
    align-items: center;

    &__main-title {
        visibility: hidden;
        font-size: 0px;
    }

    &__logo {
        margin: 0 63px 0 0;
        width: 82px;
        height: 51px;

        &__name {
            position: relative;
            padding: 0 4.7px 6.5px 4.7px;
            font-weight: 400;
            font-size: 19.0145px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
            border: 1.18841px solid #FFFFFF;

            &::after {
                position: absolute;
                top: 20px;
                left: 10px;
                content: "";
                background-image: url('assets/icons/bamboo.svg');
                width: 12px;
                height: 20px;
                display: block;
            }
        }
    }

    &__navigation {

        &__items {
            display: flex;


            &__item {

                color: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                margin: 0 58px 0 0;

                &:first-child {
                    color: #F9804B;
                }

                &:hover {
                    color: #F9804B;
                }

                &:last-child {
                    margin: 0 0 0 438px;

                }

                &:nth-last-child(2) {
                    margin: 0;
                }

                &:hover {
                    color: #F9804B;
                }


                &__link {}
            }
        }
    }
}

//media header

.wath-online {
    position: relative;

    &__img-background {
        display: block;
    }

    &__img-circle {
        position: absolute;
        top: 12px;
        right: 328px;
    }

    &__img-txt {
        position: absolute;
        top: 86px;
        right: 231px;
    }

    &__btn {
        position: absolute;
        bottom: 100px;
        right: 319px;
        width: 298px;
        height: 54px;
        border-radius: 25px;
        background-color: #F9804B;
        border: none;
        font-weight: 500;
        text-transform: uppercase;
        color: #FFFFFF;

        &:hover {
            background-color: #E47209;
            cursor: pointer;
        }

        &:active {
            background: #4B9200;
        }
    }
}

//wath-online media

.backstage {
    padding: 140px 220px 180px 219px;
    display: flex;
    color: #333B41;
    position: relative;

    &__img {
        margin: 0 87px 0 0;

        &__item {
            display: block;
        }
    }

    &__info {
        max-width: 465px;

        &__title {
            font-size: 48px;
            font-weight: 400;
            line-height: 120%;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 130%;
            margin: 20px 0 54px 0;
        }

        &__second-title {
            font-size: 24px;
            line-height: 120%;
            font-weight: 400;
            margin: 0 0 34px 0;
            line-height: 120%;
        }

        &__second-subtitle {
            line-height: 140%;
        }

        &__icon-flower {
            position: absolute;
            display: block;
            top: 12px;
            right: 0px;
        }
    }
}

//backstage media

.pets {
    &__card {
        padding: 0 0 0 220px;
        display: grid;
        grid-template-columns: repeat(3, 0.2fr);

        &__item {
            max-width: 366px;
            position: relative;
            margin: 0 30px 20px 0;
            border: 2px solid #FA6F32;
            border-radius: 5px;
            cursor: pointer;


            &:hover .pets__card__item__info__meal__img {
                bottom: 15px;
                transition: 1s;
            }

            &:hover .pets__card__item__info__txt {
                top: 0;
                transition: 1s;
            }

            &.bottom {
                margin: 0 30px 0 0;
            }

            &.left {
                margin: 0 0 20px 0;
            }

            &.last {
                margin: 0;
            }

            &__img {
                overflow: hidden;

                &__i {
                    display: block;
                    margin: 0;

                    &:hover {
                        transform: scale(1.1);
                        transition: 1s;
                    }
                }
            }

            &__info {
                overflow: hidden;
                padding: 8px 11px 13px 16px;
                display: flex;


                &__txt {
                    z-index: -1;
                    position: relative;
                    top: -80px;
                    transition: 1s;

                    &__title {
                        text-transform: uppercase;
                        font-weight: 500;
                        line-height: 140%;
                        margin: 0;
                    }

                    &__subtitle {
                        font-weight: 300;
                        line-height: 120%;
                        font-size: 15px;
                    }
                }

                &__meal {

                    &__img {
                        z-index: -1;
                        display: block;
                        position: absolute;
                        bottom: 80px;
                        right: 10px;
                        transition: 1s;
                    }
                }
            }
        }
    }

    &__btn {
        width: 298px;
        height: 54px;
        border-radius: 25px;
        background-color: #F9804B;
        border: none;
        font-weight: 500;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 80px 0 100px 0;

        &:hover {
            background-color: #E47209;
            cursor: pointer;
        }

        &:active {
            background: #4B9200;
        }
    }

    &__right {
        position: absolute;
        top: 415px;
        right: 128px;
        display: block;
        cursor: pointer;
        opacity: 0.7;
        transition: 0.5s;

        &:hover {
            opacity: 1;
            transition: 0.5s;
        }
    }

    &__left {
        position: absolute;
        top: 415px;
        left: 138px;
        display: block;
        cursor: pointer;
        opacity: 0.7;
        transition: 0.5s;

        &:hover {
            opacity: 1;
            transition: 0.5s;
        }
    }

    &__palm {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    &__strelitzia {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

//pets media

.donate {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 69px 220px 100px 220px;

    &__info {
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;

        &__title {
            padding-top: 41px;
            text-align: center;
            font-size: 48px;
            line-height: 120%;
            color: #FE9013;
            font-weight: 400;
        }

        &__subtitle {
            margin: 30px 0 40px 99px;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #333B41;

            &__centre {
                margin: 0 0 0 99px;
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                color: #333B41;
            }

            &__link {
                padding-right: 198px;
                margin: 10px 0 60px 99px;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: #333B41;

                &.link {
                    margin: 1px 0 0 0;
                    display: inline;
                    text-decoration: underline solid #FE9013;
                }
            }
        }

        &__how-works {
            text-align: center;
            color: #333B41;
            font-weight: 400;
            font-size: 36px;
            line-height: 130%;
        }

        &__instruction {
            display: flex;
            justify-content: center;
            padding: 40px 0 0 0;

            &__item {
                position: relative;
                width: 168px;
                height: 168px;
                background-color: #FFFFFF;
                border-radius: 5px;
                border: 1px solid #F9804B;
                margin: 0 130px 0 0;

                &::before {
                    content: "";
                    background-image: url('assets/icons/Vector3.svg');
                    height: 36px;
                    width: 70px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -15% 0 0 67%;
                }

                &.last::before {
                    display: none;
                }

                &:last-child {
                    margin: 0;
                }

                &__bottom-txt {
                    position: relative;
                    bottom: -56px;
                    left: 0px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #333B41;
                }

                &__img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    overflow: auto;
                }

                &__txt {
                    display: flex;

                    &__item {
                        margin: 30px 195px 60px 0px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #333B41;

                        &:first-child {
                            margin: 30px 145px 60px 195px;
                            min-width: 160px;
                        }
                    }
                }
            }
        }
    }

    &__btn {
        width: 298px;
        height: 54px;
        border-radius: 25px;
        background-color: #F9804B;
        border: none;
        font-weight: 500;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 59px 0;

        &:hover {
            background-color: #E47209;
            cursor: pointer;
        }

        &:active {
            background: #4B9200;
        }
    }
}

//donate media

.testimonials {
    padding: 140px 220px 172px 220px;
    position: relative;

    &__title {
        text-align: center;
        margin: 0 0 58px 0;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #333B41;
    }

    &__slider-wripper {}

    &__slider-inner {
        display: flex;
    }

    &__slide {
        overflow: hidden;
        margin: 0 33px 0 0;
        max-width: 268px;
        height: 391px;
        border: 2px solid transparent;
        background: linear-gradient(90deg, #F3A9F8 66%, #FEBDAB 74%, #E0D8F0 100%, #EAF7FE 100%, #EAF7FE 100%);
        box-shadow: inset 0px 0px 0px 100vw #F1F3F2;
        border-radius: 25px;
        box-sizing: border-box;

        &:last-child {
            margin: 0;
        }

        &__user-info {
            margin: 10px 0px 0 16px;
            display: flex;

            &__ava {
                margin: 0 10px 0 0;

                &__item {}
            }

            &__post {

                &__name {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                }

                &__local {
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 120%;
                    color: #BDBDBD;
                }
            }
        }

        &__publication-txt {
            padding: 10px 16px 19px 16px;
            width: 237px;
            height: 309px;
            font-weight: 300;
            font-size: 15px;
            line-height: 120%;
            color: #767474;
        }
    }

    &__btn {
        margin: 48px 0 0 0;
        width: 298px;
        height: 54px;
        background-color: #F9804B;
        border: none;
        font-weight: 500;
        text-transform: uppercase;
        color: #FFFFFF;
        display: block;
        border-radius: 5px;

        &:hover {
            background-color: #E47209;
            cursor: pointer;
        }

        &:active {
            background: #4B9200;
        }
    }

    &__leav {
        position: absolute;
        bottom: -130px;
        right: 0px;
        overflow: hidden;
        z-index: -1;
    }
}

progress {
    margin: 21px 0 0 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #F5F7F6;
    width: 599px;
    height: 8px;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background: #F5F7F6;
    border-radius: 5px;

    border: 0.5px solid transparent;
    background: linear-gradient(90deg, #FEBDAB 74%, #F3A9F8 66%, #E0D8F0 100%, #EAF7FE 100%, #EAF7FE 100%);
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 100vw #F1F3F2;
}

progress::-webkit-progress-value {
    background: #FE9013;
    border-radius: 5px;

    &:hover {
        background: #4B9200;
        cursor: pointer;
    }
}

.footer {
    padding: 40px 0px 50px 220px;
    background-color: #111115;
    color: #FFFFFF;
    display: flex;

    &__left {
        padding: 0 100px 0 0;

        &__logo {
            margin: 0 63px 0 0;
            width: 82px;
            height: 51px;

            &__name {
                position: relative;
                padding: 0 4.7px 6.5px 4.7px;
                font-weight: 400;
                font-size: 19.0145px;
                line-height: 120%;
                text-align: center;
                color: #FFFFFF;
                border: 1.18841px solid #FFFFFF;

                &::after {
                    position: absolute;
                    top: 20px;
                    left: 10px;
                    content: "";
                    background-image: url('assets/icons/bamboo.svg');
                    width: 12px;
                    height: 20px;
                    display: block;
                }

            }
        }



        &__button {
            margin: 68px 0 45px 0;
            width: 298px;
            height: 54px;
            background-color: #F9804B;
            border: none;
            font-weight: 500;
            text-transform: uppercase;
            color: #FFFFFF;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            &:hover {
                background-color: #E47209;
                cursor: pointer;
            }

            &:active {
                background: #4B9200;
            }
        }

        &__network {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;

            &__facebook {
                display: flex;
                align-items: center;
            }

            &__twitter {
                display: flex;
                align-items: center;
                margin: 4px 0 4px 0;

            }

            &__instagram {
                display: flex;
                align-items: center;
                margin: 0 0 4px 0;
            }

            &__youtube {
                display: flex;
                align-items: center;

            }
        }
    }

    &__centre {
        margin: 337px 0 0 0;

        &__navigation {
            &__items {
                display: flex;

                &__item {
                    margin: 0 58px 0 0;

                    &:first-child {
                        color: #F9804B;
                    }

                    &:last-child {
                        margin: 0;
                    }

                    &:hover {
                        color: #F9804B;
                    }

                    &__link {}
                }
            }
        }
    }

    &__right {
        margin: 0px 0px 0px 32px;

        &__form {
            &__titile {
                margin: 0 0 14px 0;
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;
                color: #FFFFFF;
            }

            &__input {
                background-color: #111115;
                border-radius: 2px;
                border: 0.7px solid #F9804B;
                padding: 10px;
                color: #F1F3F2;
                cursor: pointer;

                &:focus {
                    outline: none;
                    border: 0.7px solid #4B9200;
                }
            }

            &__btn {
                margin: 0 0 0 8px;
                background: #F1F3F2;
                border: 1px solid #333B41;
                border-radius: 5px;
                padding: 10px 40px;
                cursor: pointer;

                &:hover {
                    border: 1px solid #F9804B;
                    color: #F9804B;
                }


                &:active {
                    color: #4B9200;
                    border: 1px solid #4B9200;
                }
            }
        }

        &__designed {
            margin: 216px 0px 0px 139px;
            font-weight: 100;
            font-size: 16px;
            line-height: 130%;
            color: #FFFFFF;

            &__name {
                cursor: pointer;

                &:active {
                    color: #4B9200;
                }
            }

            &__rsschool {
                cursor: pointer;

                &:active {
                    color: #4B9200;
                }
            }
        }
    }
}