@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

* li {
  list-style-type: none;
}

* a {
  position: n;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 1600px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 220px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-title {
  visibility: hidden;
  font-size: 0px;
}

.header__logo {
  margin: 0 63px 0 0;
  width: 82px;
  height: 51px;
}

.header__logo__name {
  position: relative;
  padding: 0 4.7px 6.5px 4.7px;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  border: 1.18841px solid #FFFFFF;
}

.header__logo__name::after {
  position: absolute;
  top: 20px;
  left: 10px;
  content: "";
  background-image: url("../assets/icons/bamboo.svg");
  width: 12px;
  height: 20px;
  display: block;
}

.header__navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation__items__item {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  margin: 0 58px 0 0;
}

.header__navigation__items__item:first-child {
  color: #F9804B;
}

.header__navigation__items__item:hover {
  color: #F9804B;
}

.header__navigation__items__item:last-child {
  margin: 0 0 0 438px;
}

.header__navigation__items__item:nth-last-child(2) {
  margin: 0;
}

.header__navigation__items__item:hover {
  color: #F9804B;
}

@media (max-width: 1000px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
  .header {
    padding: 14px 30px;
  }
  .header__navigation__items__item {
    margin: 0 48px 0 0;
  }
  .header__navigation__items__item:last-child {
    margin: 0 0 0 259px;
  }
}

.panda-img::before {
  content: "";
  background-image: url("/assets/img/bgDonate.jpg");
  display: block;
  width: 1600px;
  height: 390px;
}

@media (max-width: 1000px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
  .panda-img::before {
    content: "";
    background-image: url("/assets/img/panda_bg2.png");
    display: block;
    width: 1000px;
    height: 390px;
  }
}

.donate {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding: 40px 220px 180px 220px;
}

.donate__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
}

.donate__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 10px 0 40px 0;
}

.donate__information {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  margin: 0 0 60px 0;
}

.donate__area {
  padding: 40px 92px 62px 92px;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
}

.donate__area__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin: 0 0 20px 0;
}

.donate__area__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

.donate__area__diet-panda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 215px;
}

.donate__area__diet-panda__quantity {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 165px 0 0 0;
}

.donate__area__diet-panda__quantity__txt {
  margin: 11px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333B41;
}

.donate__area__diet-panda__quantity__x__item {
  margin: 190px 64px 0 0;
}

.donate__area__diet-panda__img {
  display: block;
}

.donate__area__diet-panda__img__item {
  margin: 60px 0px 0px 0px;
}

.donate__area__choose {
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
}

.donate__area__choose__line {
  display: inline-block;
  width: 915px;
  height: 2px;
  background: #72828E;
  margin: 0 auto;
}

.donate__area__choose__items {
  position: relative;
  padding: 0px 13px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.donate__area__choose__items__item:hover {
  background-image: url("/assets/icons/roller_icon.svg");
  width: 40px;
  height: 40px;
  display: block;
  margin: -29px 0px 0px 0px;
}

.donate__area__choose__items__item__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.donate__area__choose__items__item__input:checked + .donate__area__choose__items__item__label::before {
  background-color: #c84d4d;
}

.donate__area__choose__items__item__label {
  cursor: pointer;
}

.donate__area__choose__items__item__label::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
}

.donate__area__choose__items__item__label::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: #FFEE2E;
  margin: -29px 0px 0px 0px;
}

.donate__area__amount {
  margin: 48px 0 29px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.donate__area__subscription {
  margin: 98px 0 0 0;
  text-align: center;
}

.donate__area__subscription__window {
  width: 268px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #929699;
  border-radius: 2px;
  padding: 0px 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}

.donate__area__subscription__window:focus {
  outline: none;
}

.donate__area__subscription__radio {
  margin: 27px 0px 0 -60px;
}

.donate__area__subscription__radio__item {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.donate__area__btn {
  margin: 48px 0 0 0;
  width: 298px;
  height: 54px;
  border-radius: 25px;
  background-color: #F9804B;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 5px;
}

.donate__area__btn:hover {
  background-color: #E47209;
  cursor: pointer;
}

.donate__area__btn:active {
  background: #4B9200;
}

.donate__area__last {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  margin: 30px 0 0 0;
}

@media (max-width: 1000px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
  .donate {
    padding: 40px 30px 30px 30px;
  }
  .donate__subtitle {
    margin: 30px 0 40px 0;
  }
  .donate__information {
    margin: 0 0 40px 0;
  }
  .donate__area {
    padding: 20px 44px 46px 44px;
  }
  .donate__area__title {
    margin: 0 0 20px 0;
  }
  .donate__area__diet-panda {
    margin: 0px 0px 0px 215px;
  }
  .donate__area__diet-panda__quantity__x__item {
    margin: 190px 64px 0 0;
  }
  .donate__area__diet-panda__img__item {
    margin: 60px 0px 0px 0px;
  }
  .donate__area__choose {
    width: 810px;
    height: 27px;
    background: #404950;
  }
  .donate__area__choose__line {
    width: 776px;
  }
  .donate__area__choose__items {
    padding: 0px 0px 0px 12px;
  }
  .donate__area__choose__items__item:first-child {
    display: none;
  }
  .donate__area__choose__items__item:hover {
    margin: -29px 0px 0px 0px;
  }
  .donate__area__subscription {
    margin: 98px 0 0 0;
  }
  .donate__area__subscription__radio {
    margin: 27px 0px 0 -60px;
  }
  .donate__area__subscription__radio__item {
    margin: 0 10px 0 50px;
  }
  __last {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    margin: 30px 0 0 0;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  padding: 40px 0px 50px 220px;
  background-color: #111115;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  padding: 0 100px 0 0;
}

.footer__left__logo {
  margin: 0 63px 0 0;
  width: 82px;
  height: 51px;
}

.footer__left__logo__name {
  position: relative;
  padding: 0 4.7px 6.5px 4.7px;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  border: 1.18841px solid #FFFFFF;
}

.footer__left__logo__name::after {
  position: absolute;
  top: 20px;
  left: 10px;
  content: "";
  background-image: url("../assets/icons/bamboo.svg");
  width: 12px;
  height: 20px;
  display: block;
}

.footer__left__button {
  margin: 68px 0 45px 0;
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.footer__left__button:hover {
  background-color: #E47209;
  cursor: pointer;
}

.footer__left__button:active {
  background: #4B9200;
}

.footer__left__network {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.footer__left__network__facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left__network__twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px 0 4px 0;
}

.footer__left__network__instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 4px 0;
}

.footer__left__network__youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__centre {
  margin: 337px 0 0 0;
}

.footer__centre__navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__centre__navigation__items__item {
  margin: 0 58px 0 0;
}

.footer__centre__navigation__items__item:first-child {
  color: #F9804B;
}

.footer__centre__navigation__items__item:last-child {
  margin: 0;
}

.footer__centre__navigation__items__item:hover {
  color: #F9804B;
}

.footer__right {
  margin: 0px 0px 0px 32px;
}

.footer__right__form__titile {
  margin: 0 0 14px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.footer__right__form__input {
  background-color: #111115;
  border-radius: 2px;
  border: 0.7px solid #F9804B;
  padding: 10px;
  color: #F1F3F2;
  cursor: pointer;
}

.footer__right__form__input:focus {
  outline: none;
  border: 0.7px solid #4B9200;
}

.footer__right__form__btn {
  margin: 0 0 0 8px;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
}

.footer__right__form__btn:hover {
  color: #F9804B;
  border: 1px solid #F9804B;
}

.footer__right__form__btn:active {
  color: #4B9200;
  border: 1px solid #4B9200;
}

.footer__right__designed {
  margin: 216px 0px 0px 139px;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer__right__designed__name {
  cursor: pointer;
}

.footer__right__designed__name:active {
  color: #4B9200;
}

.footer__right__designed__rsschool {
  cursor: pointer;
}

.footer__right__designed__rsschool:active {
  color: #4B9200;
}

@media (max-width: 1000px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
  .footer {
    padding: 40px 18px 50px 40px;
    background-color: #111115;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__left {
    padding: 0 0px 0 0;
  }
  .footer__left__logo {
    margin: 0 63px 0 0;
    width: 82px;
    height: 51px;
  }
  .footer__left__logo__name {
    position: relative;
    padding: 0 4.7px 6.5px 4.7px;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
  }
  .footer__left__logo__name::after {
    position: absolute;
    top: 20px;
    left: 10px;
    content: "";
    background-image: url("assets/icons/bamboo.svg");
    width: 12px;
    height: 20px;
    display: block;
  }
  .footer__left__button {
    margin: 68px 0 45px 0;
    width: 298px;
    height: 54px;
    background-color: #F9804B;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
  }
  .footer__left__button:hover {
    background-color: #E47209;
    cursor: pointer;
  }
  .footer__left__button:active {
    background: #4B9200;
  }
  .footer__left__network {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .footer__left__network__facebook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__left__network__twitter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4px 0 4px 0;
  }
  .footer__left__network__instagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 4px 0;
  }
  .footer__left__network__youtube {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__centre {
    margin: 337px 0 0 0;
  }
  .footer__centre__navigation__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__centre__navigation__items__item {
    margin: 0 48px 0 0;
  }
  .footer__centre__navigation__items__item:first-child {
    color: #F9804B;
  }
  .footer__centre__navigation__items__item:last-child {
    margin: 0;
  }
  .footer__centre__navigation__items__item:hover {
    color: #F9804B;
  }
  .footer__right {
    margin: 0px 0px 0px 0px;
  }
  .footer__right__form__titile {
    margin: 0 0 14px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
  }
  .footer__right__form__input {
    background-color: #111115;
    border-radius: 2px;
    border: 0.7px solid #F9804B;
    padding: 10px;
    color: #F1F3F2;
    cursor: pointer;
  }
  .footer__right__form__input:focus {
    outline: none;
    border: 0.7px solid #4B9200;
  }
  .footer__right__form__btn {
    margin: 0 0 0 8px;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
  }
  .footer__right__form__btn:hover {
    border: 1px solid #F9804B;
    color: #F9804B;
  }
  .footer__right__form__btn:active {
    color: #4B9200;
    border: 1px solid #4B9200;
  }
  .footer__right__designed {
    margin: 235px 0px 0px 80px;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }
  .footer__right__designed__name {
    cursor: pointer;
  }
  .footer__right__designed__name:active {
    color: #4B9200;
  }
  .footer__right__designed__rsschool {
    cursor: pointer;
  }
  .footer__right__designed__rsschool:active {
    color: #4B9200;
  }
}
/*# sourceMappingURL=style.css.map */